<!-- Brand Logo -->

<div class="brand-logo">
    <div class="container">
        <div class="slider-items-products">
            <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col6">

                    <!-- Item -->
                    <div class="item"><a href="#"><img class="img-responsive" src="../assets/images/brand3.png"
                                                       alt="Image"> </a></div>
                    <!-- End Item -->

                    <!-- Item -->
                    <div class="item"><a href="#"><img class="img-responsive" src="../assets/images/brand1.png"
                                                       alt="Image"> </a></div>
                    <!-- End Item -->

                    <!-- Item -->
                    <div class="item"><a href="#"><img class="img-responsive" src="../assets/images/brand2.png"
                                                       alt="Image"> </a></div>
                    <!-- End Item -->

                    <!-- Item -->
                    <div class="item"><a href="#"><img class="img-responsive" src="../assets/images/brand4.png"
                                                       alt="Image"> </a></div>
                    <!-- End Item -->

                    <!-- Item -->
                    <div class="item"><a href="#"><img class="img-responsive" src="../assets/images/brand5.png"
                                                       alt="Image"> </a></div>
                    <!-- End Item -->

                    <!-- Item -->
                    <div class="item"><a href="#"><img class="img-responsive" src="../assets/images/brand6.png"
                                                       alt="Image"> </a></div>
                    <!-- End Item -->

                    <!-- Item -->
                    <div class="item"><a href="#"><img class="img-responsive" src="../assets/images/brand2.png"
                                                       alt="Image"> </a></div>
                    <!-- End Item -->

                    <!-- Item -->
                    <div class="item"><a href="#"><img class="img-responsive" src="../assets/images/brand4.png"
                                                       alt="Image"> </a></div>
                    <!-- End Item -->

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="jtv-text-top-banner"><a href="/#" title=""> <img class="img-responsive"
                                                                         src="../assets/images/banner-img6.jpg" alt="">
                <span class="jtv-b-content top-left"> <span class="banner-label-wrapper"> <span
                        class="banner-label small pink-bg">25%<br>
          <em>off</em></span> </span> </span> <span class="jtv-b-content bottom-left"> <span class="text">Only in our store</span> <span
                        class="title"><span class="black-text">Special Offer</span><br>
          <small>Exclusive Savings</small></span> </span> </a></div>
        </div>
        <div class="col-sm-4">
            <div class="jtv-text-top-banner"><a href="/#" title=""> <img class="img-responsive"
                                                                         src="../assets/images/banner-img8.jpg" alt="">
                <span class="jtv-b-content top-center"> <span class="title"><span class="black-text">Smart Camera</span><br>
          <small>Superior Image Quality</small></span> </span> </a></div>
        </div>
        <div class="col-sm-4">
            <div class="jtv-text-top-banner"><a href="/#" title=""> <img class="img-responsive"
                                                                         src="../assets/images/banner-img7.jpg" alt="">
                <span class="jtv-b-content middle-center"> <span class="strong-title">45% OFF</span> </span> <span
                        class="jtv-b-content bottom-center"> <span class="text-left"> <span
                        class="media-body text-right"><span class="subtitle skincolor">Best<br>
          Headphones</span></span> </span> </span> <span class="jtv-b-price-box"> <span
                        class="banner-text-wrapper"> <span class="jtv-b-price-text">From</span> <span
                        class="jtv-b-price">$29</span> </span> </span> </a></div>
        </div>
    </div>
</div>
