<!-- Latest Blog -->
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12" data-wow-delay="0.2s">
            <div class="jtv-testimonial-block">
                <div class="block-title">
                    <h2>Testimonial</h2>
                </div>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">

                        <!-- Quote 1 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. quis nostrud exercitation ullamco
                                            laboris nisi ut aliquip quis nostrud exercitation ullamco laboris nisi ut
                                            aliquipquis!</p>
                                        <div class="holder-info"><strong class="name">Vince Roy</strong> <strong
                                                class="designation">CEO, XYZ Softwear</strong></div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Nam a dolor dictum, dapibus libero eu, malesuada nulla.
                                            Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Nam a dolor dictum, dapibus libero eu, malesuada nulla.
                                            Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Nam a dolor dictum, dapibus libero eu, malesuada nulla.
                                            Aliquam convallis vulputate augue. </p>
                                        <div class="holder-info"><strong class="name">John Doe</strong> <strong
                                                class="designation">CEO, ABC Softwear</strong></div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero
                                            mattis molestie nec in magna. Aliquam sollicitudin urna nec felis blandit
                                            sodales. In adipiscing leo magna, a vehicula mi convallis ac. Vivamus
                                            volutpat, ante nec congue dictum, ipsum odio consequat justo, consectetur
                                            dignissim enim sapien ut nulla. Nunc massa ligula, fermentum sed nisl sed,
                                            lacinia vestibulum mi. Fusce et pharetra metus, porttitor commodo erat.</p>
                                        <div class="holder-info"><strong class="name">John Doe</strong> <strong
                                                class="designation">Managing Director</strong></div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0"><img class="img-responsive"
                                                                                 src="../assets/images/testimonials-img1.jpg"
                                                                                 alt=""></li>
                        <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive"
                                                                                 src="../assets/images/testimonials-img2.jpg"
                                                                                 alt=""></li>
                        <li data-target="#quote-carousel" data-slide-to="2" class="active"><img class="img-responsive"
                                                                                                src="../assets/images/testimonials-img3.jpg"
                                                                                                alt=""></li>
                    </ol>
                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i
                            class="fa fa-chevron-left"></i></a> <a data-slide="next" href="#quote-carousel"
                                                                   class="right carousel-control"><i
                        class="fa fa-chevron-right"></i></a></div>
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
            <div class="blog-outer-container">
                <div class="jtv-title">
                    <h2>Latest Blog</h2>
                </div>
                <div class="blog-inner">
                    <div class="col-sm-6">
                        <div class="entry-thumb"><a href="blog_single_post.html"> <img class="img-responsive" alt="Blog"
                                                                                       src="../assets/images/blog-img1.jpg">
                        </a></div>
                        <div class="blog-preview_info">
                            <h3><a href="blog_single_post.html">Winter Morning Unique</a></h3>
                            <ul class="post-meta">
                                <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                <li><i class="fa fa-comments"></i><a href="#">12 comments</a></li>
                                <li><i class="fa fa-calendar"></i>2017-02-25</li>
                            </ul>
                            <div class="blog-preview_desc">In adipiscing leo magna, a vehicula mi convallis ac. Vivamus
                                volutpat, ante nec congue dictum.
                            </div>
                            <a class="blog-preview_btn" href="blog_single_post.html">Read More <i
                                    class="fa fa-long-arrow-right"></i></a></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="entry-thumb"><a href="blog_single_post.html"> <img class="img-responsive" alt="Blog"
                                                                                       src="../assets/images/blog-img2.jpg">
                        </a></div>
                        <div class="blog-preview_info">
                            <h3><a href="blog_single_post.html">Perfect for promoting</a></h3>
                            <ul class="post-meta">
                                <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                <li><i class="fa fa-comments"></i><a href="#">45 comments</a></li>
                                <li><i class="fa fa-calendar"></i>2017-04-05</li>
                            </ul>
                            <div class="blog-preview_desc">Nam a dolor dictum, dapibus libero eu, malesuada nulla.
                                Aliquam convallis vulputate augue.
                            </div>
                            <a class="blog-preview_btn" href="blog_single_post.html">Read More <i
                                    class="fa fa-long-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Latest Blog -->
