<!-- jtv bottom banner section -->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="jtv-text-top-banner"><a href="/#" title=""> <img class="img-responsive"
                                                                         src="../assets/images/banner-img3.jpg" alt="">
                <span class="jtv-b-content middle-left"> <span class="title"><span
                        class="skincolor">Incredible Audio</span><br>
          <small>The Essence of Sound</small></span><span class="btn-buy"><span>Shop now</span></span></span> </a></div>
        </div>
        <div class="col-sm-6">
            <div class="jtv-text-top-banner"><a href="/#" title=""> <img class="img-responsive"
                                                                         src="../assets/images/banner-img4.jpg" alt="">
                <span class="jtv-b-content middle-left"> <span class="banner-label-wrapper"></span> <span class="title">
                    <span class="title-color">iMac Refresh Arriving</span><br>
          <small>A touch of genius</small></span><span class="btn-buy"><span>Buy now</span></span></span> </a></div>
        </div>
    </div>
</div>
