<!-- JTV Home Slider -->
<div class="jtv-slideshow">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div id='jtv-rev_slider_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                    <div id='jtv-rev_slider' class='rev_slider fullwidthabanner'>
                        <ul>
                            <li data-transition='fade' data-slotamount='7' data-masterspeed='1000'
                                data-thumb='../assets/images/slider/slide-img1.jpg'><img class="img-responsive"
                                                                                         src="../assets/images/slider/slide-img1.jpg"
                                                                                         alt="slide-img"
                                                                                         data-bgposition='left top'
                                                                                         data-bgfit='cover'
                                                                                         data-bgrepeat='no-repeat'/>
                                <div class="info">
                                    <div class='tp-caption jtv-sub-title sft  tp-resizeme ' data-endspeed='500'
                                         data-speed='500' data-start='1100' data-easing='Linear.easeNone'
                                         data-splitin='none' data-splitout='none' data-elementdelay='0.1'
                                         data-endelementdelay='0.1'
                                         style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap; color:#393b7d;'>
                                        <span>New Collection</span></div>
                                    <div class='tp-caption jtv-large-title sfl  tp-resizeme ' data-endspeed='500'
                                         data-speed='500' data-start='1300' data-easing='Linear.easeNone'
                                         data-splitin='none' data-splitout='none' data-elementdelay='0.1'
                                         data-endelementdelay='0.1'
                                         style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span
                                            style="color:#000;">Stylish Look</span></div>
                                    <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500'
                                         data-start='1450' data-easing='Power2.easeInOut' data-splitin='none'
                                         data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap; color:#666;'>
                                        Beautiful templates from our creative community.
                                    </div>
                                    <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500'
                                         data-start='1500' data-easing='Linear.easeNone' data-splitin='none'
                                         data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap; font-size:18px;'>
                                        <a href='#' class="jtv-shop-now-btn">Shop Now</a></div>
                                </div>
                            </li>
                            <li data-transition='fade' data-slotamount='7' data-masterspeed='1000'
                                data-thumb='../assets/images/slider/slide-img2.jpg'><img class="img-responsive"
                                                                                         src="../assets/images/slider/slide-img2.jpg"
                                                                                         alt="slide-img"
                                                                                         data-bgposition='left top'
                                                                                         data-bgfit='cover'
                                                                                         data-bgrepeat='no-repeat'/>
                                <div class="info">
                                    <div class='tp-caption jtv-sub-title sft slide2  tp-resizeme ' data-endspeed='500'
                                         data-speed='500' data-start='1100' data-easing='Linear.easeNone'
                                         data-splitin='none' data-splitout='none' data-elementdelay='0.1'
                                         data-endelementdelay='0.1'
                                         style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;padding-right:0px; color:#999;'>
                                        <span>On Day Sale!</span></div>
                                    <div class='tp-caption jtv-large-title sfl  tp-resizeme ' data-endspeed='500'
                                         data-speed='500' data-start='1300' data-easing='Linear.easeNone'
                                         data-splitin='none' data-splitout='none' data-elementdelay='0.1'
                                         data-endelementdelay='0.1'
                                         style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap; color:#f6344b;'>
                                        New Arrivals
                                    </div>
                                    <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500'
                                         data-start='1500' data-easing='Power2.easeInOut' data-splitin='none'
                                         data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>A Perfect
                                        template to start selling your products.
                                    </div>
                                    <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500'
                                         data-start='1500' data-easing='Linear.easeNone' data-splitin='none'
                                         data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a
                                            href='#' class="jtv-shop-now-btn">Order now</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end JTV Home Slider -->
            <div class="col-md-3 col-sm-12">
                <div class="jtv-text-top-banner col-sm-6 col-md-12"><a href="/#" title=""> <img class="img-responsive"
                                                                                                src="../assets/images/banner-img2.jpg"
                                                                                                alt=""> <span
                        class="jtv-b-content top-center"> <span class="title white-text">Smart Phone<br>
            Exclusively Available On</span> </span> </a></div>
                <div class="jtv-text-top-banner col-sm-6 col-md-12"><a href="/#" title=""> <img class="img-responsive"
                                                                                                src="../assets/images/banner-img1.jpg"
                                                                                                alt=""> <span
                        class="jtv-b-content bottom-left"> <span class="title"> <span
                        class="title-color">Mens</span><br>
            <span class="black-text">Collection</span></span> <span class="text">Never Miss a Second</span> <span
                        class="btn-buy"><span>Buy now</span></span> </span> <span class="jtv-b-price-box"> <span
                        class="banner-text-wrapper"> <span class="jtv-b-price-text">From</span> <span
                        class="jtv-b-price">$99</span> </span> </span> </a></div>
            </div>
        </div>
    </div>
</div>
