<!-- Product Tabs-->
<div class="category-product">
    <div class="navbar nav-menu">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a data-toggle="tab" href="#tab-1">New Arrivals</a></li>
                <li><a data-toggle="tab" href="#tab-2">Best Seller</a></li>
                <li><a data-toggle="tab" href="#tab-3">Latest Products</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <div class="tab-container">
        <!-- tab product -->
        <div class="tab-panel active" id="tab-1">
            <div class="category-products">
                <ul class="products-grid">
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img01.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$155.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img02.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$95.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img03.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$225.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img04.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$229.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img05.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$99.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img06.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$99.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img08.jpg">
                                </a>
                                    <div class="new-label new-top-left">new</div>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box">
                                                <p class="special-price"><span class="price-label">Special Price</span>
                                                    <span class="price"> $156.00 </span></p>
                                                <p class="old-price"><span class="price-label">Regular Price:</span>
                                                    <span class="price"> $167.00 </span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img09.jpg">
                                </a>
                                    <div class="new-label new-top-left">new</div>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box">
                                                <p class="special-price"><span class="price-label">Special Price</span>
                                                    <span class="price"> $256.00 </span></p>
                                                <p class="old-price"><span class="price-label">Regular Price:</span>
                                                    <span class="price"> $219.00 </span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- tab product -->
        <div class="tab-panel" id="tab-2">
            <div class="category-products">
                <ul class="products-grid">
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img10.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$155.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img11.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$225.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img12.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$99.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img13.jpg">
                                </a>
                                    <div class="new-label new-top-left">new</div>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box">
                                                <p class="special-price"><span class="price-label">Special Price</span>
                                                    <span class="price"> $156.00 </span></p>
                                                <p class="old-price"><span class="price-label">Regular Price:</span>
                                                    <span class="price"> $167.00 </span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-panel" id="tab-3">
            <div class="category-products">
                <ul class="products-grid">
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img14.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$155.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img15.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$225.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img16.jpg">
                                </a>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"> <span class="price">$99.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info"><a class="product-image" title="Product Title Here"
                                                              href="single_product.html"> <img class="img-responsive"
                                                                                               alt="Product Title Here"
                                                                                               src="../assets/images/products/img17.jpg">
                                </a>
                                    <div class="new-label new-top-left">new</div>
                                    <div class="action"><a href="compare.html" title="Compare"><i
                                            class="fa fa-signal"></i></a> <a href="quick_view.html"
                                                                             title="Quick view"><i
                                            class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i
                                            class="fa fa-heart-o"></i></a> <a href="shopping_cart.html"
                                                                              title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a title="Product Title Here" href="single_product.html">
                                        Product Title Here </a></div>
                                    <div class="item-content">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
                                                class="fa fa-star-o"></i></div>
                                        <div class="item-price">
                                            <div class="price-box">
                                                <p class="special-price"><span class="price-label">Special Price</span>
                                                    <span class="price"> $156.00 </span></p>
                                                <p class="old-price"><span class="price-label">Regular Price:</span>
                                                    <span class="price"> $167.00 </span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
