<!-- our features -->
<div class="our-features-box hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box first"><i class="pe-7s-piggy"></i>
                    <div class="content">
                        <h3>Reasonable pricing</h3>
                        <p>To establish a selling price for a product</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box"><i class="pe-7s-timer"></i>
                    <div class="content">
                        <h3>Limited time offers</h3>
                        <p>Hurry up! You Don't want to miss This!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box"><i class="pe-7s-headphones"></i>
                    <div class="content">
                        <h3>24/7 client support</h3>
                        <p>In order to provide 24X7 customer support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
